
/* ==========================================================================
Base styles:
========================================================================== */
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  background-color: #e4f1fd;
  color: #297fca;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.5em;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48em;
}

button {
    overflow: visible;
    background-color: #297fca;
    color: #ffffff;
    font-size: 0.75em;
    padding: 10px;
    border: none;
}
/* ==========================================================================
Typography:
========================================================================== */
h1, h2, h3, h4{
  font-family: 'Josefin Slab', serif;
  font-size: 2.85em;
  color: #297fca;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin: 20px 0 20px 0px;
}

/* ==========================================================================
Navigation:
========================================================================== */
.nav-wrapper {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  position: relative;
  width: 100%;
  text-align: left;
  }

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  margin: 1rem;
  font-size: .75em;
  padding: .25rem 0;
  text-decoration: none;
  font-family: 'Raleway';
  color: #297fca;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
}

.hamburger-icon {
  margin: 3em auto;
  width: 2.5rem;
  display: block;
  position: relative;
  height: 30px;
  display: none;
}

.hamburger-icon:hover,
.hamburger-icon:active,
.hamburger-icon:focus {
  outline: 0;
}


.line:nth-child(1) {
  top: 0;
}

.line:nth-child(2) {
  top: 12px;
}

.line:nth-child(3) {
  top: 24px;
}

.line {
  width: 2.5rem;
  height: .3125rem;
  background: #E7E6DD;
  border-radius: 2.5rem;
  position: absolute;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.active .line:nth-child(2) {
  opacity: 0;
  transform: translateX(-16px);

}

.active .line:first-child {
  transform: translateY(12px) rotate(135deg);
}

.active .line:last-child {
  transform: translateY(-12px) rotate(-135deg);
}

/* ==========================================================================
Drawer Navigation:
========================================================================== */

.drawer-about {
  width: 100%;
  height: 70%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  padding: 2%;
  border-bottom: 10px solid;
  z-index: 100;
  transform: translateY(-99%);
  transition: all 350ms ease-in-out;
}

.drawer-notify {
  width: 100%;
  height: 70%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  padding: 2%;
  border-bottom: 10px solid;
  z-index: 100;
  transform: translateY(-99%);
  transition: all 350ms ease-in-out;
}

.close {
  position: absolute;
  top: 42px;
  right: 60px;
  text-transform: none;
  font-size: 40px;
  color: #333333;
}

.content {
  transition: all 350ms ease-in-out;
}

.active {
  transform: translateY(0px);
}

.inner-content {
  width: 50%;
}

/* ==========================================================================
Form:
========================================================================== */
.sign-up {
  position: relative;
}

.sign-up-input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
}

.sign-up-button {
    position: relative;
    vertical-align: top;
    width: 19%;
    height: 45px;
    padding: 0;
    font-size: .75em;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(black, .25);
    background: #297fca;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.checkbox{
    box-sizing: border-box;
    padding: 0;
    display: inline-grid;
    margin: 10px 17px 40px 6px;
    transform: scale(1.75);
}



/* ==========================================================================
Scroll Navigation:
========================================================================== */
.arrow-nav {
  display: inline-grid;
  position: absolute;
  right: 40px;
  z-index: 99;
}
.arrow-nav a{
  color: #297fca;
  font-size: 3em;
}

/* ==========================================================================
Center Content:
========================================================================== */
.center-home {
  max-width: 50%;

}

.center-features {
  max-width: 70%;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}

.features-img  {
  max-width: 22%;
  box-shadow: -8px 17px 77px -5px rgba(0,0,0,0.3);
  height: 458px;
}


/*.features-img  {
background:url('/images/still-comp-profile.png') -25px -50px;
position:fixed ;
max-width: 20%;
top:0;
width:100%;
z-index:0;
  height:100%;
  background-size: calc(100% + 50px);
}*/


/*.features-img img {
  max-height: 100%;
}*/

.features-container {
  position: relative;
  width: 45%;
}

.features-content {
  max-width: 100%;
  height: 400px;
  margin-left: 30px;
  overflow-y: scroll;
  direction: rtl;
  text-align: left;
  padding-left: 50px;
}

.features-content:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  bottom:0;
  background:linear-gradient(transparent 280px, #e4f1fd);
  pointer-events: none;
}

.features:before, .map:before, .discover:before, .map:before, .embibe:before, .share:before {
  content:"";
  display:block;
  height:2px; /* fixed header height*/
  margin:-2px 0 0; /* negative fixed header height */
}

.features-scroll {
  max-width: 11%;
  height: 400px;
  margin: 0 10px 0 10px;
}

      ::-webkit-scrollbar {
      width: 15px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
      -webkit-border-radius: 5px;
      border-radius: 5px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 1px;
      border-radius: 1px;
      background: rgba(0,0,0,0.2);
      -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
      }
      ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(0,0,0,0.2);
      }


.list-container {
  position: relative;
  width: 30%;
  display: none;
}

.list-content {
  max-width: 100%;
  height: 400px;
  margin-left: 30px;
  overflow-y: scroll;
  direction: rtl;
  text-align: left;
  padding-left: 50px;
}

.list-content:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  bottom:0;
  background:linear-gradient(transparent 280px, #e4f1fd);
  pointer-events: none;
}
.distillist li {
  list-style-type: decimal-leading-zero;
  direction: ltr;
  padding: 10px 0px 0 10px;
  margin-left: 31px;
}

.list-img  {
  max-width: 22%;
  box-shadow: -8px 17px 77px -5px rgba(0,0,0,0.3);
  height: 458px;
}

/* ==========================================================================
Footer:
========================================================================== */
#lower-left {
	position: absolute;
	bottom: 0%;
	left: 0;
  margin: 1rem;
  padding: .25rem 0;
}

.title {
  display: inline-block;
  text-transform: uppercase;
  font-size: .85em;
  margin-right: 15px;
  font-weight: 600;
}

.footer-share {
  display: inline-block;
  font-size: .85em;
}

.footer-share a{
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  color: #297fca;
  text-decoration: none;
}
.social-tw {
  display:inline;
  margin-right:20px
}
.social-fb {
  display:inline;
  margin-right:10px
}

.app-store {
  display:block;
  margin-top: 1em;
}
